#passeios{
    color: #808080;
}
#patrocinio{
    float: right;
    width: 35%;
    height: 72%;
    color: black;
    border: solid;
    border-radius: 10px;
    margin-left: 60%;
    margin-top: 115px;
    position: fixed;
}
#patrocinio_url{
    float: right;
    width: 12%;
    height: 15%;
    color:  #F39C12;;
    border: solid;
    border-radius: 10px;
    margin-left: 80%;
    margin-top: 123px;
    position: fixed;
}
#patrocinio_url:hover{
    color: #808080;
}
.roteiros{
    width: 57.5%;
}
.roteiros img{
    width: 46%;
    color: #F39C12;
    border: solid;
    border-radius: 10px;
    margin: 1%;
}
.roteiros img:hover{
    color: #808080;
}
.roteiros h3{
    margin-top: 100px;
    margin-left: 2%;
    font-size: 40px;
    margin-right: 42%;
    text-align: center;
    background-color: rgba(143, 141, 141, 0.726);
    border-radius: 20px;
    color: #FFD700;
    font-family: 'Pathway Gothic One', sans-serif;
    position: fixed
}
#div1{
    margin-top: 28%;
    margin-left: 5%;
}
#div2{
    margin-left: 5%;
}
#div3{
    margin-left: 5%;
}
#div4{
    margin-left: 5%;
}
#div5{
    margin-left: 5%;
}
.roteiros a{
    text-decoration: none;
    color: black;

}
#doador{
    width: 95%;
    height: 121px;
    margin-left: 1.5%;
    color: black;
}
#doador_url{
    float: left;
    width: 54%;
    height: 74px;
    color: #F39C12;
    border: solid;
    border-radius: 6px;
    margin-left: 2.5%;
    margin-top: -96px;
    position: relative;
}
#doador_url:hover{
    color: #808080;
}

.fundo2{
    background-image: url(../imagens/fundo_passeios.jpg);
    width: 100%;
    display: flex;
    background-size:cover;
    background-repeat: no-repeat ;
    background-position: center;
    background-attachment: fixed;
}
